$primary-color: #a8a5a3;
$secondery-color: #ab47bc;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  margin: 0;
  padding: 0;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  .modal.modal-slide-up .modal-dialog {
    animation: slideUp 0.5s ease;
  }
  .modal-fullscreen {
    .modal-content {
      transition: 0.5s ease-in-out;
    }
  }
  nav {
    h1 {
      color: $primary-color;
      span {
        color: $secondery-color;
      }
      @media (max-width: 992px) {
        font-size: 32px;
      }
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
    .header {
      color: $primary-color;
      font-size: 20px;
      img {
        width: 150px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
        img {
          width: 100px;
        }
      }
    }
  }
  .line {
    height: 1.5px;
    background-color: $primary-color;
    width: 100%;
  }
  .oneOrder {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }
  .order {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    height: 100px;
    p {
      color: $primary-color;
      font-size: 24px;
    }
    img {
      width: 150px;
    }
    @media (max-width: 768px) {
      img {
        width: 80px;
      }
      p {
        font-size: 20px;
      }
      height: fit-content;
      width: fit-content;
    }
  }
  .orderHead {
    .receipt {
      font-size: 26px;
      color: $secondery-color;
      font-weight: 600;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
    .voucher {
      color: $primary-color;
      font-size: 18px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  .orderTop {
    .name {
      font-size: 24px;
      color: $primary-color;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
    .details {
      font-size: 22px;
      color: $primary-color;
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
    .orderTotal {
      font-size: 26px;
      color: $primary-color;
      font-weight: 600;
      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
  }
  .orderBottom {
    .progress {
      background-color: $primary-color;
      width: 75%;
      height: 8px;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    .progress-bar {
      background-color: $secondery-color;
    }
    .trackOrder {
      color: $primary-color;
      font-size: 22px;
      font-weight: 600;
    }
  }
  .state {
    margin-top: -10px;
    p {
      color: $primary-color;
      font-size: 22px;
    }
    @media (max-width: 992px) {
      margin-top: 0;
      p {
        font-size: 20px;
      }
    }
    @media (max-width: 768px) {
      p {
        font-size: 16px;
      }
    }
  }
  .orderDetails {
    .header {
      font-size: 24px;
      font-weight: 700;
      @media (max-width: 992px) {
        font-size: 20px;
      }
    }
    .type,
    .value {
      color: $primary-color;
      font-size: 24px;
      @media (max-width: 992px) {
        font-size: 20px;
      }
    }
    .type {
      font-weight: 600;
    }
  }
}
