* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Beiruti", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  margin: 0;
  padding: 0;
}
body {
  .orderFull {
    background-color: rgba(0, 0, 0, 0.716);
    height: 100vh;
    width: 100%;
    z-index: 50;
    top: 100%;
    transition: 0.5s;
  }
  .show {
    opacity: 1;
    transition: 0.5s;
    top: 0;
  }
  nav {
    h1 {
      color: #a8a5a3;
      span {
        color: #ab47bc;
      }
    }
    .header {
      color: #a8a5a3;
      font-size: 20px;
    }
  }
  .line {
    height: 1.5px;
    background-color: #a8a5a3;
    width: 100%;
  }
  .oneOrder {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    .fullScreen {
      top: 5%;
      right: 1%;
      cursor: pointer;
    }
  }
  .orderHead {
    .receipt {
      font-size: 26px;
      color: #ab47bc;
      font-weight: 600;
    }
    .voucher {
      color: #a8a5a3;
      font-size: 18px;
    }
  }
  .orderTop {
    .name {
      font-size: 24px;
      color: #a8a5a3;
    }
    .details {
      font-size: 22px;
      color: #a8a5a3;
    }
    .orderTotal {
      font-size: 26px;
      color: #a8a5a3;
      font-weight: 600;
    }
  }
  .orderBottom {
    .progress-bar {
      width: 75%;
      height: 8px;
      background-color: #e6e6e6;
      border-radius: 5px;
    }
    .progress,
    .secondOrderProgress {
      height: 100%;
      background-color: #ab47bc;
      border-radius: 5px;
    }
    .progress {
      width: 70%;
    }
    .secondOrderProgress {
      width: 30%;
    }
    .trackOrder {
      color: #a8a5a3;
      font-size: 22px;
      font-weight: 600;
    }
  }
  .state {
    margin-top: -10px;
    p {
      color: #a8a5a3;
      font-size: 22px;
    }
  }
  .orderDetails {
    .header {
      font-size: 24px;
      font-weight: 700;
    }
    .type,
    .value {
      color: #a8a5a3;
      font-size: 24px;
    }
    .type {
      font-weight: 600;
    }
  }
}
